---
layout: default
title: Events
suppress_header: true
description: Where you'll find information on the GitLab happenings circuit
extra_css:
  - events.css
extra_js:
  - events.js
extra_font:
  - Roboto+Slab
---

-# THE CONTENT FOR THIS PAGE IS IN https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/events.yml

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1
      GitLab Events
    %p
      Learn more about software excellence with GitLab. We will be
      attending, hosting, and running numerous events in #{Date.today.year},
      and cannot wait to see you there!
    %h3
      COVID-19 Update
    %p 
      The health and safety of [Gitlab Team Members](https://about.gitlab.com/handbook/communication/#top-misused-terms) and our community are our highest priority. With this in mind we have made the difficult decision to not participate or host any corporate events or trade shows for the months of March and April. 
    %p  
      In-person events are a key building block to making our open core and remote work model successful. However, we're committed to team member safety, so we're aiming to postpone as many events as possible or create a virtual version. With community and customer support we will find new creative avenues to strengthen and build deeper bonds during this difficult time. 
    %p  
      If anyone in the Gitlab Community is being effected and has questions on how to make their new found remote work situation functional and productive please feel free to check out our <a href="/company/culture/all-remote/guide/">guides on remote work</a>. 

.featured-events-wrapper
  %h3.featured-events-label 🌟 Featured events
  .featured-events-container
    - data.events.each do |featured_event|
      - fe_date_ends = Date.parse(featured_event.date_ends)
      - if featured_event.featured && fe_date_ends >= Date.today
        - if featured_event.url
          %a.featured-event{ href: "#{featured_event.url}" }
            .tile-resource
              .tile-background-container{ style: "background-image: url('#{featured_event.featured.background}');" }
              .tile-info
                %p.tile-date
                  = featured_event.date
                %h3
                  = featured_event.topic
                - if featured_event.url
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right
                - else
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right
        - else
          %a.featured-event{ href: "#{featured_event.event_url}" }
            .tile-resource
              .tile-background-container{ style: "background-image: url('#{featured_event.featured.background}');" }
              .tile-info
                %p.tile-date
                  = featured_event.date
                %h3
                  = featured_event.topic
                - if featured_event.url
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right
                - else
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right
.filters-container
  .dropdown#event-types
    %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
      .dropdown-title
      %i.fa.fa-chevron-down
    %ul.dropdown-menu.dropdown-scroll
  .dropdown.level#event-location
    %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
      .dropdown-title
      %i.fa.fa-chevron-down
    %ul.dropdown-menu.dropdown-scroll

%ul.tile.event-list{role: "navigation"}
  - Gitlab::Homepage::Event.all!.sort.each do |event|
    - ev_date_ends = Date.parse(event.date_ends)
    - if ev_date_ends >= Date.today
      %li{ data: { region: event.region ? event.region : 'Other', type: event.type ? event.type : '' } }
        .event-headers.flex-wrap-md
          %h3.event-topic
            = event.type == 'Diversity' ? '(Diversity Sponsorship) ' + event.topic : event.topic
          %h3.event-date
            = event.date
        .event-subheaders.flex-wrap-md
          .event-description
            - if event.type == 'Diversity'
              %p
                This event is being supported through a GitLab diversity sponsorship, with no GitLab-specific content.
            - else
              = kramdown(event.description)

          %p.event-location
            = event.location
        .social-tags.visible-xs-block
          - event.social_tags&.split(',')&.each do |tag|
            %a.social-tag{ href: "https://www.twitter.com/hashtag/#{tag}", target: "_blank" }
              %i.fab.fa-twitter
              = "##{tag}"
        .event-buttons.flex-wrap-md
          .social-tags.hidden-xs
            - event.social_tags&.split(',')&.each do |tag|
              %a.social-tag{ href: "https://www.twitter.com/hashtag/#{tag}", target: "_blank" }
                %i.fab.fa-twitter
                = "##{tag}"
          - if event.url
            %a.btn.cta-btn.accent{href:event.url} Join Us!
          - else
            - if event.event_url.nil?
              %button.btn.cta-btn.btn-disabled
                - if event.type == 'Diversity'
                  Come visit!
                - else
                  Coming soon!
            - else
              %a.btn.cta-btn.accent{href:event.event_url}
                - if event.type == 'Diversity'
                  Come visit!
                - else
                  Join Us!
.center-horizontal
  %nav
    %ul.pagination
      %li
        %a{href:"#"}
          <<
      %li
        %a{href:"#"}
          1
      %li
        %a{href:"#"}
          >>
.rad-event-container
  .tile.rad-event
    %h3
      Know about an amazing event we should be at?
    %p
      We'd love to help you
    %a.btn.cta-btn.orange{type:"button", href:"/events/find-a-speaker/"}
      Find a Speaker
