- start_date = "2020-02-03"
- expiration_date = "2020-03-01"

- if Date.parse(start_date)<= Date.today
  - if Date.parse(expiration_date)> Date.today
    .hello-bar-wrapper

      %a.hello-bar.animated.hello-bar-dark{ href: '/2020-devsecops-survey/new/' }

        .hello-bar-content
          %p
            Take our 2020 DevSecOps survey and enter to win our sweepstakes!